#section02 {
  color: $color-black;
  background: $color-white;

  .section02wrap {
    display: flex;

    @include breakpoint($tablet) {
      display: block;
    }
  }

  h2 {
    text-align: center;
    margin: 0 0 85px;

    @include breakpoint($mobile) {
      margin-bottom: 60px;
    }
  }

  .section02col {
    position: relative;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 62px;

    @include breakpoint($mobile) {
      margin-bottom: 70px;
    }

    &:last-child {
      @include breakpoint($tablet) {
        margin-bottom: 50px;
      }

      @include breakpoint($mobile) {
        margin-bottom: 0;
      }
    }

    h3 {
      margin-top: 35px;
      margin-bottom: 0;
    }

    p {
      padding: 25px;

      @include breakpoint($mobile) {
        padding: 15px 10px;
      }
    }
  }

  .buy-now {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 290px;
    color: $color-white;
    font-size: 24px;
    text-align: center;
    background: $color-black;
    margin-left: -145px;
    padding: 14px;

    &:hover {
      text-decoration: none;
    }

    @include breakpoint($mobile) {
      font-size: 20px;
    }
  }
}
