#section02 {
  color: $color-black;
  background: $color-white;

  .section02wrap {
    display: flex;

    @include breakpoint($tablet) {
      display: block;
    }
  }

  h2 {
    font-size: 67px;
    font-weight: $font-thin;
    text-align: center;
    margin-bottom: 85px;

    @include breakpoint($tablet) {
      margin-top: 0;
    }
  }

  .section02col {
    position: relative;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 62px;

    &:last-child {
      margin-bottom: 50px;
    }

    h3 {
      font-size: 35px;
      font-weight: $font-light;
      margin-top: 35px;
      margin-bottom: 0;
    }

    p {
      padding: 25px;
    }
  }

  .buy-now {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 290px;
    color: $color-white;
    font-size: 24px;
    text-align: center;
    background: $color-black;
    margin-left: -145px;
    padding: 14px;

    &:hover {
      text-decoration: none;
    }
  }
}
