#section04 {
  .wrapper {
    @include display-flex;
    @include flex-flow(row wrap);
    @include breakpoint($wrapper) {
      padding: 0 10px;
    }
  }

  h2 {
    color: $color-black;
    text-align: center;
    flex: 1 1 100%;
    margin: 0 0 50px 0;
  }

  article {
    @include flexbox((
      flex: 1 1 360px,
      justify-content:space-around,
    ));
    margin: 0 100px 30px 0;
    @include breakpoint($wrapper) {
      margin: 0 60px 30px 60px;
    }
    @include breakpoint($tablet) {
      margin: 0 20px 30px 20px;
    }
  }
  h3 {
    color: $color-black;
    font-size: 24px;
    font-weight: $font-regular;
    margin: 0 0 20px 0;
    @include breakpoint($mobile) {
      font-size: 16px;
      margin: 0 0 10px 0;
      font-weight: $font-bold;
    }
  }
  p {
    color: $color-black;
    font-size: $font-size-base;
    font-weight: $font-regular;
    @include breakpoint($mobile) {
      font-size: 14px;
    }
  }
  i {
    color: $color-green-base;
    font-weight: $font-light;
    padding-right: 10px;
  }
}
