#section07 {
  padding: 0;
}
#customers{
  padding: 90px 0 70px 0;
  background-color: #fff;
  @include display-flex;
  @include flex-flow(row wrap);
  @include justify-content(space-around);
  @include align-items(center);
  @include breakpoint($wraper) {
    padding: 0 10px;
  }
  div{
    text-align: center;
    @include breakpoint($wraper) {
      padding: 30px 0px;
      @include flexbox((
        flex-basis: 30%
      ));
    }
    @include breakpoint($tablet) {
      @include flexbox((
        flex-basis: 50%
      ));
    }
    @include breakpoint($mobile) {
      @include flexbox((
          flex-basis: 100%
      ));
    }
  }
  img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

#swiper-slider{
  height: 556px;
  background: url(img/section07bg.jpg) no-repeat;
  background-size: cover;
  padding-top: 80px;
  h2{
    color: #fff;
    text-align: center;
    margin: 0;
  }
  .swiper-container {
    width: 100%;
    max-width: 1460px;
    height: 435px;
    padding-top: 60px;
  }
  .slide-contayner{
    background-color: #fff;
    &:after{
      content: "\201C";
      display: block;
      font-size: 90px;
      color: $color-green-base;
      text-align: center;
    }
  }
  .swiper-slide {
    padding:0px 202px;
    height: 100%;
    h3{
      color: $color-black;
      text-align: center;
    }
    h4{
      color: $color-black;
      text-align: center;
    }
    p{
      color: $color-black;
      text-align: center;
    }
    img{
      display: block;
      margin: 0 auto;
      position: relative;
      top: -60px;
      z-index: 10;
    }
  }
}