#section03 {
  .section03faq {
    h2 {
      text-align: center;
    }

    h3 {
      font-size: 36px;
      font-weight: $font-extra-thin;
      margin-top: 35px;
      margin-bottom: 0;
    }

    ul {
      margin: 50px 0;
      border: none;

      li {
        float: none;
        list-style: none;
        margin-bottom: 20px;

        &.active>a {
          color: $color-green;
          background: none;
          border: none;
        }

        a {
          color: $color-white;
          font-size: 24px;
          font-weight: $font-thin;
          line-height: 23px;
          border: none;

          &:hover {
            background: none;
            border: none;
          }
        }
      }
    }

    .buy-now {
      display: block;
      width: 100%;
      max-width: 290px;
      color: $color-white;
      font-size: 24px;
      text-align: center;
      background: $color-black;
      margin: 0 auto;
      padding: 14px;

      &:hover {
        text-decoration: none;
      }
    }

    .tab-content {
      text-align: center;
      margin-top: 120px;

      .tab-pane {
        padding: 50px;
      }

      .active {
        background: $color-green;
      }

      p {
        font-weight: $font-light;
        padding: 25px 0;
      }
    }
  }

  .section03support {
    color: $color-black;
    text-align: center;
    background-color: $color-bright-gray;

    h2 {
      color: $color-green-base;
    }

    .purchase-now {
      display: block;
      max-width: 280px;
      color: $color-white;
      font-size: 24px;
      text-align: center;
      background: $color-green-base;
      margin: 0 auto;
      padding: 14px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
